body
	font-family Roboto,sans-serif

[StickyFooter]
	display flex
	&,/html
		height 100%
		margin 0
	flex-direction column
	&>header,&>footer
		flex none
		line-height 3em
		padding 0 1em
		text-align center
	main
		flex 1

[buttons]
	display inline-flex
	&>*:not(:first-child)
		border-top-left-radius 0
		border-bottom-left-radius 0
		margin-left 1px
	&>*:not(:last-child)
		border-top-right-radius 0
		border-bottom-right-radius 0
	
[buttons~="full"]
	display flex
	&>a,&>button
		justify-content center
		flex 1 1 auto

a,button
	//border-radius .2em
	font 1em/2em Roboto
	display flex
	align-items center
	padding 0 .5em
	border 0
	text-decoration none
	text-transform uppercase
	&:before
		content attr(before)
		padding-right .25em
	&:after
		content attr(after)
		padding-left .25em
	&:before,&:after
		font-family 'Material Icons'
		font-size 1.3em
		text-transform lowercase

[card]
	background white
	box-sizing border-box
	box-shadow rgba(black,.2) 0 .75px 2px
	display flex
	flex-direction column
	margin 1em
	header
		display flex
		padding .5em
		img
			border-radius 50%
			margin-right 1em
			height 3em
			width 3em
		div
			display flex
			flex-direction column
			justify-content space-around
			h4
				margin 0
			small
				color grey
	img
		width 100%
		object-fit cover
	title
	figcaption
		margin 0
		padding .75em
	[buttons]
		display flex
		border-top 1px solid #EEE
		button::-moz-focus-inner
			border 0
		a,button
			padding 0
			justify-content center
			flex 1 1 auto
			font 1em/3em Roboto
			outline none
			background none
			color #FB8C00
			border none
			&:hover,&:focus
				background #fff3e0
				outline none