doctype
html(lang="es-ES")
	head
		title Framework
		meta(charset:utf-8)
		link(href="css/grid.css" rel="stylesheet")
		link(href="css/colors.css" rel="stylesheet")
		link(href="css/components.css" rel="stylesheet")
		link(href="css/Roboto.css" rel="stylesheet")
		link(href="css/MaterialIcons.css" rel="stylesheet")
	body(StickyFooter)
		header(color="bg:BlueGrey txt:White") HEADER
		main(grid="justify:around center gutters")
			div(cell)
				div(buttons="full")
					a(href="#" color="bg:Blue" before="undo") Deshacer
					button(color="bg:Grey" after="redo") Rehacer
			div(cell).
				&lt;div <span color="txt:Green">buttons="full"</span>&gt;
					<br>
					  &lt;a href=&quot;#&quot; <span color="txt:blue">color=&quot;bg:Blue&quot; before=&quot;undo&quot;</span>&gt;Deshacer&lt;/a&gt;
					<br>
					  &lt;button <span color="txt:Grey">color=&quot;bg:Grey&quot; after=&quot;redo&quot;</span>&gt;Rehacer&lt;/button&gt;
					<br>
				&lt;/div&gt;
		footer(color="bg:BlueGrey txt:White") FOOTER