doctype
html(lang="es-ES")
	head
		title Framework
		meta(charset:utf-8)
		link(href="css/grid.css" rel="stylesheet")
		link(href="css/colors.css" rel="stylesheet")
		link(href="css/components.css" rel="stylesheet")
		link(href="css/Roboto.css" rel="stylesheet")
		link(href="css/MaterialIcons.css" rel="stylesheet")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	body(StickyFooter color="bg:Grey:100")
		header(color="bg:BlueGrey txt:White") HEADER
		main
			div(style="box-shadow:0 0 0 1px lime; width:1920px")
			div(style="box-shadow:0 0 0 1px red; width:1280px")
			div(style="box-shadow:0 0 0 1px lime; width:800px")
			div(style="box-shadow:0 0 0 1px red; width:640px")
			div(style="box-shadow:0 0 0 1px lime; width:360px")
			div
			div(grid="1366:justify:around 360:1/1:21.9 640:1/2:21.9 800:1/2:21.9 1280:1/3:21.9 1366:1/4:16.9 1920:1/4:16.9")
				div(cell="640:1/1:21.9 800:1/1:21.9")
					figure(card)
						header
							img(src="img/face.png")
							div
								strong Julio Verne
								small Aventurero
						img(src="img/1.jpg")
						h3 Diez años de teletrabajo
						figcaption Tras diez años de teletrabajo, esto puedo decir sobre los mitos y realidad de trabajar desde casa.
				div(cell="")
					figure(card)
						img(src="img/2.jpg")
						h3 Octava beta de macOS Sierra
						figcaption ¡Betas! La octava de macOS Sierra 10.12.4 y la séptima de watchOS 3.2 ya disponibles.
						footer(buttons)
							a(href="#" before="folder") MacBook
							a(href="#" before="folder") Pro
				div(cell="")
					figure(card)
						img(src="img/3.jpg")
						h3 Séptima beta de iOS
						figcaption Apple lanza la séptima beta de iOS 10.3 y macOS 10.12.4 para desarrolladores.
		footer(color="bg:BlueGrey txt:White") FOOTER